<html>
<head>
    <link rel="stylesheet" href="/css/gift_share_donate.css" />
</head>
<body>
    <div class="wrapper">
        <div>Donar Details</div><br/>
        <div class="form">
           <div class="inputfield">
              <label>Full Name</label>
              <input type="text" class="input">
           </div>  
            <div class="inputfield">
              <label>Email Address</label>
              <input type="text" class="input">
           </div>  
           <div class="inputfield">
              <label>Phone</label>
              <input type="text" class="input">
           </div><br/>
          <div>
            Organization Details
          </div><br/>
          <div class="inputfield">
              <label>Name of the organization</label>
              <input type="text" class="input">
           </div> 
            <div class="inputfield">
              <label>State</label>
              <div class="custom_select">
                <select>
                  <option value="">Select</option>
                  <option value="Karataka">Karataka</option>
                  <option value="Kerala">Kerala</option>
                </select>
              </div>
           </div>         
          <div class="inputfield">
              <label>Address</label>
              <textarea class="textarea"></textarea>
           </div> 
          <div class="inputfield">
              <label>Postal Code</label>
              <input type="text" class="input">
           </div> 
          <div class="inputfield">
            <input type="submit" value="Submit" class="btn">
          </div>
        </div>
    </div>
</body>
</html>